# Analysis 2
I've cleaned the data from McGregor a bit--got rid of prefixes and suffixes, replaced the weakened schwa /áµŠ/ with the regular schwa, and got rid of dashes indicating morpheme boundaries. Now I ask: how volatile are the classifications produced by the phonotactic RNNs?

In [25]:
from numpy import argmin

def calc(data, j):
    pa = []
    sa = []
    na = []
    drav = []
    none = []
    en = []
    for i in data:
        if i not in translit: continue
        if translit[i] not in etym: continue
        if etym[translit[i]] == ['Perso-Arabic']: pa.append(data[i])
        if etym[translit[i]] == ['Sanskrit']: sa.append(data[i])
        if etym[translit[i]] == ['Native']: na.append(data[i])
        if etym[translit[i]] == ['Dravidian']: drav.append(data[i])
        if etym[translit[i]] == ['']: none.append(data[i])
        if etym[translit[i]] == ['English']: en.append(data[i])
    res = [pa, sa, na, drav, none, en]
    ans = []
    for i in range(j):
        ans.append([len([1 for x in y if argmin(x) == i]) / len(y) for y in res])
    return ans

In [19]:
import csv
import matplotlib
import pandas as pd

translit = {}
with open('extra_large.csv', 'r') as translits:
    reader = csv.reader(translits)
    for row in reader:
        translit[row[1]] = row[0]
        
etym = {}
with open('mcgregor_etym.csv', 'r') as etyms:
    reader = csv.reader(etyms, delimiter='\t')
    for row in reader:
        etym[row[0]] = list(row[1].split(','))

In [29]:
result = {}
with open('results2_2.txt', 'r') as results:
    reader = csv.reader(results, delimiter='\t')
    for row in reader:
        result[row[0]] = [float(x) for x in row[1:]]

In [30]:
from pandas import DataFrame

a = DataFrame(calc(result, 2))
a.columns = ['Perso-Arabic', 'Sanskrit', 'Native', 'Dravidian', 'None', 'English']
a

   Perso-Arabic  Sanskrit    Native  Dravidian      None   English
0      0.193476  0.231105  0.769887   0.838384  0.680844  0.494186
1      0.806524  0.768895  0.230113   0.161616  0.319156  0.505814

In [32]:
result = {}
with open('results2_3.txt', 'r') as results:
    reader = csv.reader(results, delimiter='\t')
    for row in reader:
        result[row[0]] = [float(x) for x in row[1:]]
a = DataFrame(calc(result, 2))
a.columns = ['Perso-Arabic', 'Sanskrit', 'Native', 'Dravidian', 'None', 'English']
a

   Perso-Arabic  Sanskrit    Native  Dravidian      None   English
0      0.351826  0.211967  0.752633   0.838384  0.690314  0.598837
1      0.648174  0.788033  0.247367   0.161616  0.309686  0.401163

In [33]:
result = {}
with open('results3_2.txt', 'r') as results:
    reader = csv.reader(results, delimiter='\t')
    for row in reader:
        result[row[0]] = [float(x) for x in row[1:]]
a = DataFrame(calc(result, 3))
a.columns = ['Perso-Arabic', 'Sanskrit', 'Native', 'Dravidian', 'None', 'English']
a

   Perso-Arabic  Sanskrit    Native  Dravidian      None  English
0      0.090047  0.128391  0.606781   0.656566  0.526001  0.30814
1      0.163368  0.635659  0.137928   0.080808  0.161987  0.22093
2      0.746585  0.235950  0.255291   0.262626  0.312012  0.47093

In [34]:
result = {}
with open('results4.txt', 'r') as results:
    reader = csv.reader(results, delimiter='\t')
    for row in reader:
        result[row[0]] = [float(x) for x in row[1:]]
a = DataFrame(calc(result, 4))
a.columns = ['Perso-Arabic', 'Sanskrit', 'Native', 'Dravidian', 'None', 'English']
a

   Perso-Arabic  Sanskrit    Native  Dravidian      None   English
0      0.099805  0.555233  0.117865   0.111111  0.152517  0.209302
1      0.741567  0.222868  0.149463   0.080808  0.208673  0.343023
2      0.068860  0.124758  0.227104   0.414141  0.235920  0.232558
3      0.089769  0.097141  0.505567   0.393939  0.402891  0.215116